/Solucion_Codigo/Proyect_Taller7/nbproject/private/
/Solucion_Codigo/Proyect_Taller7/build/
/Solucion_Codigo/Proyect_Taller7/dist/
/Solucion_Codigo/Proyect_Taller7/o/nbproject/private/
/Solucion_Codigo/Proyect_Taller7/o/build/
/Solucion_Codigo/Proyect_Taller7/o/dist/
